@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: pink;
    background-image: url("https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: white;
    font-size: 35px;
}
.ind{
    background-color: blue;
    border-radius: 12px;
    display: inline-block;
    margin-top: 125px;
    margin-left: 350px;
}
.pak{
    background-color: green;
    border: 2px ;
    border-radius: 12px;
    display: inline-block;
    background-origin: padding-box;
    margin-left: 50px;
}
.score{
    text-align: center;
    height: 40vh;
    width: 25vw;
}
.batball{
    width: 100px;
    display: inline-block;
    margin-left: 690px;
}

.strike{
    width: 85px;
    margin-top: 150px;
}
.imgclass{
    margin-left: 675px;
}
span{
    color: white;
    position: relative;
    top: 80px;
    font-size: 30px;
    font-weight: 1000;
}
.runs{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 22px;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
}